doctype html
html
  head
    meta(charset='utf-8')
    title
  body
    div Minimal webpack setup files for front-end development.
    br
    div Let's try a simple ajax request
    br
    div 'POST' test
    input.my-input-post(name='myvar' type='text' value='')
    button.my-button-post submit
    br
    br
    div 'GET' test
    input.my-input-get(name='myvar' type='text' value='')
    button.my-button-get submit
  script(src="./js/main.js")
  
